/* General Styling */
* {    
    box-sizing: border-box;
    border: 1px solid;
    margin: 0;    
}
img {
    max-width: 100%;
    display: block;
}

/* Header section */
.header {     
    display: flex;     
    flex-direction: column;       
    background: blue;
    height:fit-content;       
    width: 100%;    
}

.header li{
    list-style: none;
    font-size: 14px;  
}

.navbar {
    display: none;     
} 

.nav-left, .nav-right, .nav2-left{
    display: flex;
    flex-direction: row;     
    justify-content: space-between;    
}

.navbar2{
    display: flex;
    flex-direction: row;  
    height: 36px;      
    background: pink;
    align-items: center;
    justify-content: space-between;
}  

.tnw-img{
    height: inherit;
    background: black;
    padding: 0.2rem;
}

.nav2-left {
    display: none;
}

.front{
    height: fit-content;
    margin: 5px;
    display: flex;
    flex-direction: column;     
    width: 100%;   
}

.launch{
    background-image: url("images/Hyundai-XCIENT-Fuel-Cell-truck-hed-796x419.jpg");       
}
.watch{
    background-image: url("images/tnw2020-feature_img-02.jpg");        
}
.tech{
    background-image: url("images/image-1-2-796x417.png");       
}


/* Medaia Query for min-tablet width */

@media screen and (min-width: 768px) {     
      /* header section */       
    
    .navbar {
        display: flex;
        flex-direction: row;        
        height: 28px;   
        width: 100%;
        align-items: center;  
        background: yellow;          
        justify-content: space-between;  
    } 
    
    .nav2-left{
        display: flex;
        flex-direction: row;     
        justify-content: space-between;   
    }    
    
    .navbar2{        
        margin: 5px 5px 0 5px;        
    }      
    
    .tnw-img{
        display: none;
    }

    /* Front section */

    .front{
        height: 500px;
        margin: 5px;    
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: repeat(2, 1fr);      
        grid-gap: 10px;
    }    

    .launch{        
        grid-column: 1;
        grid-row: 1/3;
    }
    .watch{           
        grid-column: 2;
        grid-row: 1;
    }
    .tech{        
        grid-column: 2;
        grid-row: 2;
    }
}

