.business-article{
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
    font-size: 12px; 
    float: left;
}       

.business-front{    
    height: 300px;        
    display: grid;
    grid-template-columns: 63% 35%;
    grid-template-rows: 68% 30%;
    grid-gap: 2%; 
    background: rgb(197, 191, 192);
}

.business-article h1 {
    max-width: auto;     
    margin-bottom: 10px;
}

.business-article h1 img{
    max-width: 20px;
    float: right;    
}


.front img{
    size: 100%;
}

.business-most-popular{
    background-image: url("../images/tnw2020-feature_img-02.jpg");     
    height: auto;    
    grid-column: 1/3;
    grid-row: 1;
}
.business-latest{
    
    height: 180px;
    height: auto;    
    grid-column: 1;
    grid-row: 2;
}
.business-tech{
    background-image: url("../images/image-1-2-796x417.png");    
    height: 180px;    
    height: auto;    
    grid-column: 2;
    grid-row: 2;
}

.business-list li{
    border-bottom: 0.5px solid;
    list-style: circle;
    padding: 10px 0 10px 0;    
}


@media screen and (min-width: 768px) {
    * {             
        max-width: 1024px;
    }
    
    
    /* Business articles section */

    .business-article{
        width: 50%;
        padding-right: 5px;
    }     
}




/* Medaia Query for min-tablet width */

@media screen and (min-width: 1024px) {     

    * {             
        max-width: 2560px;
    }

    
    /* Business articles section */

    .business-article{
        width: 33%;      
        padding-right: 5px;  
    }
}

