.social-links {
  padding: 4rem 0;
  font-size: 1.3rem;
  color: rgb(199, 199, 199);
  letter-spacing: -0.9px;
  background-color: rgb(19, 19, 19);
}

.first-links a{
text-decoration: none;
color: inherit;
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.social-links .icon {
  width: 1.8rem;
  height: 1.8rem;
}

.social-links ul:first-of-type {
  margin-bottom: 3rem;
}

.social-links li {
  margin: 0 0.75rem;
}

.social-links ul:first-of-type li {
  padding: 11px;
  background-color: rgb(47, 47, 47);
  border-radius: 50%;
}

.last-links a{
  color:rgb(199, 199, 199);
  
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  font-size: 1.3rem;
  color: #999;
  background: #000;
  text-align: center;
}

.copyright .icon {
  display: inline-block;
}

.i-tnw-small {
  background-image: url('../images/tnw.svg');
  width: 45px;
  height: 11px;
}

.i-stackpath {
  background-image: url('../images/stackpath.svg');
  width: 70px;
  height: 11px;
}

@media (max-width: 768px) {
  .copyright {
    display: block;
  }

  .copyright p:nth-child(2) {
    padding: 0.5rem 0;
  }

  .hide-small-large {
    display: none;
  }
}