.front {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 8px;
  position: relative;
}

.front a {
  margin-bottom: 8px;
  color: white;
  padding: 60px 10px 10px 10px;
}

.front__img {
  width: 50%;
}

.launch {
  background-image: url("../images/tnw2020-feature_img-02.jpg");
  height: 180px;
  z-index: 10;
  position: relative;
}

.watch {
  background-image: url("../images/tnw2020-feature_img-02.jpg");
  height: 180px;
  position: relative;
}

.tech {
  background-image: url("../images/image-1-2-796x417.png");
  height: 180px;
  position: relative;
}

.tnw-tech-img {
  display: none;
}

.front-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.story-category {
  margin-bottom: 0;
}

.story-heading {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 0;
}

.story-info span,
.story-date {
  font-size: 12px;
  color: rgb(196, 189, 189);
  font-weight: 600;
}

.story-date {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Medai Query For Tablets */
@media screen and (min-width: 768px) {
  * {
    max-width: 1024px;
  }

  /* Front */

  .front {
    height: 500px;
    display: grid;
    grid-template-columns: 64% 35%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .front article {
    margin: 0;
  }

  .launch {
    height: auto;
    grid-column: 1;
    grid-row: 1/3;
  }

  .launch-story-heading {
    font-size: 40px;
  }

  .watch {
    height: auto;
    grid-column: 2;
    grid-row: 1;
  }

  .tech {
    height: auto;
    grid-column: 2;
    grid-row: 2;
  }

  .tnw-tech-img {
    display: block;
    width: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

/* Medaia Query for min-tablet width */

@media screen and (min-width: 1024px) {
  * {
    max-width: 2560px;
  }

  /* Front section */
  .front img {
    width: 50%;
  }

  /* Latest news article */
  .latest-news-article {
    width: 25%;
  }
}
