.latest-deals {
  width: 100%;
  height: auto;
  padding: 20px 5% 20px 5%;
  font-size: 12px;
}

.latest-deals-header a {
  color: red;
}

.latest-deals h1 a {
  font-size: 28px;
}

.latest-deals h1 a::after {
  content: ">";
  color: var(--color-primary);
  padding-left: 10px;
  font-size: 1.5rem;
}

.latest-deals-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.latest-deals-img {
  width: 25%;
  height: 100%;
  float: left;
}

.discount-tag {
  display: none;
}

.latest-deals h1 {
  text-decoration: none;
}

.latest-deals small {
  font-size: 16px;
}

.latest-deals-content {
  width: 75%;
  float: right;
  font-size: 10px;
  padding: 0 5px 0 10px;
}

.latest-deals h2 {
  margin-bottom: 10px;
  text-decoration: none;
}

.latest-deals-content h2 a {
  color: black;
  font-weight: 800;
}

.latest-deals p {
  font-size: 14px;
  color: rgb(75, 73, 73);
}

.latest-deals article {
  height: 5em;
  float: left;
  margin-bottom: 10px;
  padding-right: -14px;
}

@media screen and (min-width: 768px) {
  * {
    max-width: 1024px;
  }

  .latest-deals {
    width: 100%;
  }

  .latest-deals-header {
    margin: 0 10px 0 10px;
  }

  .latest-deals article {
    width: 33.33%;
    padding: 10px;
    height: auto;
    position: relative;
  }

  .latest-deals-img {
    width: 100%;
    height: auto;
  }

  .discount-tag {
    display: block;
    width: 30%;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .latest-deals-content {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
}

/* Medaia Query for min-tablet width */

@media screen and (min-width: 1024px) {
  * {
    max-width: 2560px;
  }

  .latest-deals article {
    width: 25%;
    margin-right: 0;
    height: auto;
  }
}
