.latest-news {
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
    font-size: 12px;        
}

.latest-news h1{
    margin: 0 0 12px 0;
}

.latest-news h1 {
    max-width: auto;     
}

.latest-news-links{
    color: var(--color-primary);
    font-family: var(--font-family-secondary);
}

.latest-news-links::after{
    content: ">";
    color: var(--color-primary);
    padding-left: 10px;
    font-size: 1.5rem;
}

.latest-news-article {
    width: 100%;   
    font-size: 9px;    
    float: left;
    margin-bottom: 10px;
}

.latest-news-article img{
    width: 25%;
    float: left;
}

.latest-news-text {
    width: 75%;
    float: left;
    padding: 0 5px 0 10px;
}

.latest-news-text h2{
    padding-bottom: 6px;
}



@media screen and (min-width: 768px) {
    * {             
        max-width: 1024px;
    }
    
    

    /* Latest news section */

    .latest-news{
        padding: 20px 0 20px 20px;
    }
    .latest-news-article{
        width: 33%;
        padding-right: 20px;
    }

    .latest-news-article img{
        width: 100%;
        height: 130px;
    } 
}




/* Medaia Query for min-tablet width */

@media screen and (min-width: 1024px) {     

    * {             
        max-width: 2560px;
    }

      
    /* Latest news article */
    .latest-news-article{
        width: 25%;
    }   

    
}

